@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?axvffw');
    src: url('../fonts/icomoon.eot?axvffw#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?axvffw') format('truetype'),
        url('../fonts/icomoon.woff?axvffw') format('woff'),
        url('../fonts/icomoon.svg?axvffw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.iconfont {
    font-family: 'icomoon';
}

body {
    background-color: #F6F6F6;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    /* 这句话可以出发BFC BFC可以清除浮动,BFC我们后面讲 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.w {
    width: 1190px;
    margin: auto;
}

.fr {
    float: right;
}

.fl {
    float: left;
}

i {
    font-style: normal;
}

li {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

input,
button {
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

.main_color {
    color: #f10215 !important;
}

.J_event {
    background-color: #000;
}

.J_event a {
    height: 80px;
    background: url(../images/top.jpg) no-repeat;
    display: block;
    position: relative;
}

.J_event a i {
    font-family: 'icomoon';
    font-style: normal;
    position: absolute;
    right: 0;
    top: 5px;
    background: rgba(0, 0, 0, 0.3);
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
}

.shortcut {
    height: 30px;
    line-height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    color: #9D9D9D;
}

.shortcut ul {
    height: 30px;
}

.shortcut .fl li {
    margin-left: 200px;
}

.shortcut .fl i {
    font-family: 'icomoon';
    font-style: normal;
    font-size: 14px;
}

.shortcut .fr li {
    float: left;
}

.shortcut .fr a {
    font-size: 12px;
    color: #9D9D9D;
}

.shortcut .fr a:hover {
    color: #c81623;
}

.spacer {
    width: 1px;
    height: 10px;
    background-color: #cccccc;
    margin: 10px;
}

.shortcut .fr .dropdown {
    position: relative;
    padding-right: 15px;
}

.shortcut .fr .dropdown i {
    font-family: 'icomoon';
    font-style: normal;
    font-size: 16px;
    position: absolute;
    right: -2px;
    top: -2px;
}

.shortcut .fr .mobile {
    position: relative;
}

.shortcut .fr .qrcode {
    border: 1px solid #ccc;
    width: 60px;
    height: 60px;
    padding: 5px;
    position: absolute;
    left: -8px;
    top: 35px;
}

.header {
    height: 140px;
}

.header .inner {
    position: relative;
    height: 140px;
}

.header .logo {
    width: 190px;
    height: 170px;
    position: absolute;
    top: -30px;
    left: 0;
}

.header .logo h1 {
    margin: 0;
}

.header .logo a {
    background: url(../images/logo.jpg) no-repeat;
    text-indent: -99999px;
    overflow: hidden;
    width: 190px;
    height: 170px;
    display: block;
}

.search {
    height: 35px;
    width: 550px;
    position: absolute;
    top: 25px;
    left: 320px;
    background-color: #c81623;
}

.search input {
    width: 493px;
    height: 33px;
    border: 1px solid #F10215;
    outline: none;
    padding-left: 5px;
    color: #989898;
    float: left;
}

.search em {
    background: url(../images/sprite-search.png) no-repeat;
    width: 19px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 65px;
}

.search em:hover {
    background-position: -30px 0;
}

.search button {
    float: left;
    width: 50px;
    height: 35px;
    background-color: #F10215;
    cursor: pointer;
}

.search button i {
    font-family: 'icomoon';
    font-style: normal;
    font-size: 16px;
    color: white;
}

.hotwords {
    position: absolute;
    top: 70px;
    left: 320px;
}

.hotwords a {
    font-size: 12px;
    color: #9e9b99;
}

.shopcart {
    position: absolute;
    top: 25px;
    right: 100px;
    border: 1px solid #ccc;
    width: 188px;
    height: 33px;
    line-height: 33px;
    text-align: center;
}

.shopcart i {
    color: #f10215;
}

.shopcart a {
    color: #f10215;
    font-size: 12px;
}

.shopcart .count {
    color: white;
    background-color: #f10215;
    position: absolute;
    top: 5px;
    left: 140px;
    height: 16px;
    line-height: 16px;
    border-radius: 7px;
    font-size: 12px;
    padding: 0 3px;
}

.treasure {
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 190px;
    height: 40px;
    background-color: red;
}

.treasure a {
    background: url(../images/computer.jpg) center no-repeat;
    display: block;
    width: 190px;
    height: 40px;
}

.navitems {
    position: absolute;
    left: 200px;
    bottom: 0;
}

.navitems ul {
    float: left;
}

.navitems ul li {
    float: left;
    margin-left: 30px;
}

.navitems ul li a {
    font-size: 16px;
    color: #555a5f;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    display: block;
}

.navitems ul li a:hover {
    color: #555a5f;
}

.navitems .spacer {
    float: left;
    margin: 15px -10px 0 20px;
}


.footer {
    height: 560px;
    background-color: #eaeaea;
}

.footer_service {
    border-bottom: 1px solid #DEDEDE;
}

.footer_service_inner {
    padding: 30px 0;
}

.footer_service_inner li {
    float: left;
    width: 297px;
    /* height: 42px; */
}

.footer_service_inner_unit {
    width: 225px;
    /* height: 42px; */
    margin: 0 auto;
    position: relative;
}

.footer_service_inner_unit h5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 42px;
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/ico_service.png) no-repeat;
}

.footer_service_inner_unit p {
    margin-left: 50px;
    height: 42px;
    line-height: 42px;
}

.footer_service_inner_unit .footer_service_inner_unit_kuai {
    background-position: 0 -44px;
}

.footer_service_inner_unit .footer_service_inner_unit_hao {
    background-position: 0 -86px;
}

.footer_service_inner_unit .footer_service_inner_unit_sheng {
    background-position: 0 -128px;
}

.footer_help {
    height: 180px;
    padding-top: 20px;
}

.footer_help dl {
    float: left;
    width: 195px;
}

.footer_help dt {
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    color: #666666;
}

.footer_help dd {
    height: 22px;
}

.footer_help dd a {
    color: #727272;
    font-size: 12px;
}

.footer_help .footer_help_cover {
    float: right;
    background: url(../images/ico_footer.png) no-repeat;
    width: 207px;
    height: 150px;
}

.footer_help .footer_help_cover dt {
    text-align: center;
}

.footer_help .footer_help_cover_info {
    color: #727272;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 12px;
    line-height: 18px;
    width: 175px;
    height: 50px;
}

.footer_help_cover_help {
    height: 22px;
    text-align: right;
    margin-right: 10px;
}

.footer_copyright {
    text-align: center;
    border-top: 1px solid #e1e1e1;
    padding: 15px 0;
}

.footer_copyright_links {
    font-size: 12px;
}

.footer_copyright_links a {
    color: #666666;
}

.footer_copyright_links span {
    margin: 0 10px;
}

.footer_copyright_info {
    padding: 10px 0;
    line-height: 22px;
    color: #999999;
    font-size: 12px;
}

.footer_copyright_auth a {
    width: 103px;
    height: 32px;
    display: inline-block;
    background: url(../images/ico_footer.png) no-repeat 0 -151px;
}